#date{
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: cursive;
    height: 20vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#userInfo{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 20px;
}
#submitButton{
    border-radius: 3px;
    outline: none;
    font-size: 15px;
    background: #f2f2f2;
    height: 42px;

}
body{
    align-items: center;
    background: #091921;
}
html, body{
    height: 100%;
}
.menu{
    display: flex;
    max-width: 100%;
    height: auto;
}
.frame{
    display: inline-block;
    width: 50%;
}