.myForm{
    justify-content: space-between;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

.example{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: #ff6b6b;
}